name: create_sports_database
# description:  Sample workflow demonstrating how to run an OpenEdge program with kenherring/openedge-actions/run

on:
  workflow_call

jobs:
  run_a_program_1:
    name: create_sports_database samples
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      ## First, set up OpenEdge
      - uses: kenherring/openedge-actions/setup@95123e5019a96657d51d7960328d46446befc332
        with:
            license: ${{ secrets.PROGRESS_CFG }}
            download-ade-source: true
            version: 12.8.9

      ## Second, compile the code
      ## * Alternative, you could start a pre-configured database via docker or other means
      - uses: kenherring/openedge-actions/compile@95123e5019a96657d51d7960328d46446befc332
        with:
            working-directory: compile
            propath: src,test

      ## DEBUG
      - shell: bash
        working-directory: compile
        run: |
          find . -name "*.r"

      ## Now, run a program with rcode
      - uses: kenherring/openedge-actions/run@95123e5019a96657d51d7960328d46446befc332
        with:
          working-directory: compile
          propath: src,test
          startup-procedure: someProgramToRun.r

      ## Or, run tests with rcode
      - uses: kenherring/openedge-actions/ablunit@95123e5019a96657d51d7960328d46446befc332
        with:
          working-directory: compile
          propath: src,test
          test-file-pattern: "*.r,**/*.r"
          debug: true
