name: create_sports_database
# description:  Sample workflow demonstrating how to run an OpenEdge program with kenherring/openedge-actions/run

on:
  workflow_call

jobs:
  run_a_program_1:
    name: create_sports_database samples
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      ## First, set up OpenEdge
      - uses: kenherring/openedge-actions/setup@6c8ee50b721bc37d9b7dd87d6150b05964e2efd8
        with:
            license: ${{ secrets.PROGRESS_CFG }}
            download-ade-source: true
            version: 12.8.9

      ## Second, compile the code
      ## * Alternative, you could start a pre-configured database via docker or other means
      - uses: kenherring/openedge-actions/compile@6c8ee50b721bc37d9b7dd87d6150b05964e2efd8
        with:
            working-directory: compile
            propath: src,test
            pct-keepXref: "true"
            pct-xmlXref: "true"

      ## DEBUG
      - shell: bash
        working-directory: compile
        run: |
          find . -name "*.r"
          find . -name "*.xml"
          find . -name "*.xref"

      ## Now, run a program with rcode
      - uses: kenherring/openedge-actions/run@6c8ee50b721bc37d9b7dd87d6150b05964e2efd8
        with:
          working-directory: compile
          propath: src,test
          startup-procedure: someProgramToRun.r

      ## Or, run tests with rcode
      - uses: kenherring/openedge-actions/ablunit@6c8ee50b721bc37d9b7dd87d6150b05964e2efd8
        with:
          working-directory: compile
          propath: src,test
          test-file-pattern: "*.r,**/*.r"
          debug: true
