name: run_a_program
# description:  Sample workflow demonstrating how to run an OpenEdge program with kenherring/openedge-actions/run

on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main

jobs:
  run_a_program:
    name: run_a_program samples
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      ## Example 1: Simply run a program
      ## * the `run` action will automatically call `setup` if no OpenEdge installation is detected
      - uses: kenherring/openedge-actions/run@98388fead992235f6f09897ef4c8826d4cfb4483
        with:
          startup-procedure: run_a_program/source_program.p

      # ## Example 2: Set the propath to a subdirectory, and run a program relative to that subdirectory
      # - uses: kenherring/openedge-actions/run@ef98d83efb8fd48b30f3d517bfccf69b0bfd566a
      #   with:
      #     propath: 'run_a_program'
      #     # startup-procedure: source_program.p ## TODO
      #     startup-procedure: run_a_program/source_program.p ## this should theoretically fail
